
<header data-scroll-lock-fill-gap class="TheHeader header js-header">
    <div class="container TheHeader__wrapper">
        {% include 'partials/layout/Logo.njk' %}

        <div class="TheHeader__nav" >
          <a href="/">
            Главная
          </a>

          <a href="/about">
            О нас
          </a>
        </div>
    </div>
</header>
