<a
    class="Logo _black logo-js"
    aria-label="Logo Ida"
>
    <div
        class="Logo__wrapper"
    >
        <div class="Logo__inner">
            {% include 'partials/icons/logoIcon.njk' %}

            <div class="Logo__rectangleTop">
                <span></span>
            </div>
            <div class="Logo__rectangleBottom">
                <span></span>
            </div>
        </div>

        <div
            class="Logo__text l3"
        >
            Базовый Vite шаблон
        </div>
    </div>
</a>
